@import url(https://fonts.googleapis.com/css?family=Yellowtail)

$yellowtail: 'Yellowtail', cursive

.navbar-custom-font
    font-family: $yellowtail
    font-size: 25px
    color: red

.navbar
    opacity: .8
    width: 100%
