extends ../base.pug

block links
    link(rel='stylesheet' href='/css/polls/polls.min.css')
    script(src='/js/polls/polls.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')

block content
    #root

    script(src='/js/polls/polls_render.js')
        