doctype html
html
    head
        title Vote-ify
        link(rel='icon', href='/images/favicon.png' type='image/x-icon')
        link(rel='stylesheet' href='/css/vendor.min.css')
        link(rel='stylesheet' href='/css/navbar.min.css')
        
        //- Custom links
        block links
    body
        include navbar.pug

        