extends base.pug

block links
    link(rel='stylesheet' href='/css/index.min.css')

block content 
    .jumbotron.jumbotron-fluid
        .container.w-100.h-100.d-flex.justify-content-center.align-items-center
            .banner
                h1.display-1 Vote-ify
                p.lead
                | The simple place to learn about what people think...

    .container
        